<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home ventas</title>
</head>
<body>
    <body style="font-family: Arial, Helvetica, sans-serif; display:flex; flex-direction:column; align-items:center;">

    <h1>Dashboard de Ventas</h1>

    <div style="display: flex; gap: 30px;">

        <div>
            <button style="padding:10px 5px; background:#007bff; color:white; border:none; border-radius:6px; font-weight:bold;">Crear venta</button>
            <button style="padding:10px 5px; background:#007bff; color:white; border:none; border-radius:6px; font-weight:bold;">Ver ventas</button>
        </div>

        <div>
            <label style="font-weight:bold;">Buscar venta por ID</label>
            <input style="padding:8px; border:1px solid #ccc; border-radius:5px;" type="search" placeholder="Ingrese id de la venta">
        </div>
    </div>

    <br>
    <br>

    <div style="display: flex; gap: 20px; text-align: center;">
        <div style="border:1px solid #d6cbcb; border-radius: 8px; border-color: #968d8d; background-color: #cac6c6bb; width:200px">
            <h4>Total ganancias</h4>
            <p>$ 25,000,000</p>
        </div>

        <div style="border:1px solid #d6cbcb; border-radius: 8px; border-color: #968d8d; background-color: #cac6c6bb; width:200px">
            <h4>Productos vendidos</h4>
            <p>45</p>
        </div>
    </div>

</body>
</body>
</html>