{% extends "layout.html" %}

{% block contenido %}
<div class="contenedorP">
    <h1>Listado de Reportes</h1>
    {% if existe %}
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for r in reportes %}
          <tr>
            <td>{{ r.id_reporte }}</td>
            <td>{{ r.nombre }}</td>
            <td>{{ r.tipo }}</td>
            <td class="monto">${{ r.total_monto }}</td>
            <td>{{ r.fecha_creacion }}</td>
            <td>{{ r.usuario_creacion }}</td>
            <td class="{% if r.activo_tf %} estado-activo {% else %} estado-inactivo {% endif %}">
              {% if r.activo_tf %} Activo {% else %} Inactivo {% endif %}
            </td>
            <td>{{ r.descripcion|default:"No hay" }}</td>
            <td class="acciones">
              <button>Editar</button>
              <button>Eliminar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <h3>No hay reportes registrados</h3>
    {% endif %}
  </div>
{% endblock %}