{% load static %}
<div class="barra">
    <h2>Supermercado Lolitas</h2>
     <a href="{% url 'productos:gestion_productos' %}">
    <div class="item-menu">Gestión de Productos</div>
    </a>
    <a href="{% url 'ventas:lista_ventas' %}">
        <div class="item-menu">Gestión de Clientes/Ventas</div>
    </a>
    <a href="{% url 'terceros:lista_terceros' %}">
        <div class="item-menu">Gestión de Terceros</div>
    </a>
    <a href="{% url 'compras:lista_compras' %}">
        <div class="item-menu">Gestión de Compras</div>
    </a>
    <a href="{% url 'reportes:listar' %}" style="text-decoration:none;">
        <div class="item-menu {% block menu_reportes %}{% endblock %}">Gestión de Reportes</div>
    </a>
</div>