{% load static %}
<div class="barra">
    <h2>Supermercado Lolitas</h2>
    <div class="item-menu">Gestión de Productos</div>
    <div class="item-menu">Gestión de Clientes/Ventas</div>
    <a href="{% url 'terceros:lista_terceros' %}">
        <div class="item-menu">Gestión de Terceros</div>
    </a>
    <div class="item-menu">Gestión de Inventarios</div>
    <a href="{% url 'reportes:list' %}" style="text-decoration:none;">
        <div class="item-menu {% block menu_reportes %}{% endblock %}">Gestión de Reportes</div>
    </a>
</div>
