<form method="POST" action="{% url 'terceros:guardar_cliente' %}">
    {% csrf_token %}

    <div>
        <label for="id">Id</label>
        <p>{{ formulario.identificador }}</p>
    </div>

    <div>
        <label for="nombre">Nombre</label>
        <p>{{ formulario.nombre }}</p>
    </div>

    <div>
        <label for="email">Email</label>
        <p>{{ formulario.email }}</p>
    </div>

    <div>
        <label for="telefono">Telefono</label>
        <p>{{ formulario.telefono }}</p>
    </div>
    
    <div>
        <label for="activo">Activo</label>
        <p>{{ formulario.activo }}</p>
    </div>
    

    <!-- {{ formulario }} -->

    <button type="submit">Guardar</button>
</form>

<div>
    {% if exitoso %}
        <h1>Guardado exitosamente</h1>
    {% endif %}
</div>